### Bot - These are mandatory
CLIENT_TOKEN=[YOUR_BOT_TOKEN]
PREFIX=[YOUR_PREFIX]

### APIs - These are optional, but some features may not work without them.
KAWAIIKEY=[YOUR_OPTIONAL_KAWAII_KEY]
OPENWEATHERMAP_API_KEY=[YOUR_OPTIONAL_OPENWEATHERMAP_KEY]

### Database Connection (Prisma)
# NATIVE EXECUTION: Set host to localhost
# DOCKER-COMPOSE: Set host to "db"
DATABASE_URL="mysql://kaikibot:your_Password@localhost:3306/kaikidb"

### Docker Database Initialization (Only needed if spinning up docker-compose mariadb)
MYSQL_ROOT_PASSWORD=your_Root_Password
MYSQL_DATABASE=kaikidb
MYSQL_USER=kaikibot
MYSQL_PASSWORD=your_Password

### Docker Deployment Variables
NODE_DOCKER_PORT=8080
NODE_ENV=production

### Bot settings - DadBot functionality
DADBOT_MAX_LENGTH=256
DADBOT_NICKNAME_LENGTH=32
DADBOT_DEFAULT_ROLENAME=Dadbot-excluded

### Web API - Used for dashboard connection, authentication and commandlist upload location.
SELF_API_PORT=3636
SELF_API_TOKEN=
CMDLIST_URL=

### DiscordBotList - For setting up voting
DBL_API_PORT=3635
DBL_API_TOKEN=
DBL_API_WEBHOOK_SECRET=
